/*
 * API Title
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.Customer;
import org.openapitools.client.model.CustomerPagedList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CustomersApi {
    private ApiClient localVarApiClient;

    public CustomersApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CustomersApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for v3CustomersGet
     * @param pageNumber Given Page Number (optional, default to 0)
     * @param pageSize Given Number of Results to return per page (optional, default to 100)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of Customers </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v3CustomersGetCall(Integer pageNumber, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/customers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (pageNumber != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageNumber", pageNumber));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "JwtAuthToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v3CustomersGetValidateBeforeCall(Integer pageNumber, Integer pageSize, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = v3CustomersGetCall(pageNumber, pageSize, _callback);
        return localVarCall;

    }

    /**
     * List of customers
     * List of customers in the system which is pageable and will be something else &gt; more things to know 1. hello 2. else 
     * @param pageNumber Given Page Number (optional, default to 0)
     * @param pageSize Given Number of Results to return per page (optional, default to 100)
     * @return CustomerPagedList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of Customers </td><td>  -  </td></tr>
     </table>
     */
    public CustomerPagedList v3CustomersGet(Integer pageNumber, Integer pageSize) throws ApiException {
        ApiResponse<CustomerPagedList> localVarResp = v3CustomersGetWithHttpInfo(pageNumber, pageSize);
        return localVarResp.getData();
    }

    /**
     * List of customers
     * List of customers in the system which is pageable and will be something else &gt; more things to know 1. hello 2. else 
     * @param pageNumber Given Page Number (optional, default to 0)
     * @param pageSize Given Number of Results to return per page (optional, default to 100)
     * @return ApiResponse&lt;CustomerPagedList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of Customers </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CustomerPagedList> v3CustomersGetWithHttpInfo(Integer pageNumber, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = v3CustomersGetValidateBeforeCall(pageNumber, pageSize, null);
        Type localVarReturnType = new TypeToken<CustomerPagedList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List of customers (asynchronously)
     * List of customers in the system which is pageable and will be something else &gt; more things to know 1. hello 2. else 
     * @param pageNumber Given Page Number (optional, default to 0)
     * @param pageSize Given Number of Results to return per page (optional, default to 100)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of Customers </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call v3CustomersGetAsync(Integer pageNumber, Integer pageSize, final ApiCallback<CustomerPagedList> _callback) throws ApiException {

        okhttp3.Call localVarCall = v3CustomersGetValidateBeforeCall(pageNumber, pageSize, _callback);
        Type localVarReturnType = new TypeToken<CustomerPagedList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for v4CustomersPost
     * @param customer  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Customer Created </td><td>  * location - Location of the creatd customer <br>  </td></tr>
     </table>
     */
    public okhttp3.Call v4CustomersPostCall(Customer customer, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = customer;

        // create path and map variables
        String localVarPath = "/v4/customers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "JwtAuthToken" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call v4CustomersPostValidateBeforeCall(Customer customer, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'customer' is set
        if (customer == null) {
            throw new ApiException("Missing the required parameter 'customer' when calling v4CustomersPost(Async)");
        }
        

        okhttp3.Call localVarCall = v4CustomersPostCall(customer, _callback);
        return localVarCall;

    }

    /**
     * Creating A new Customer
     * When creating a new Customer the following needs to be true: 1. Customer needs name and address 
     * @param customer  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Customer Created </td><td>  * location - Location of the creatd customer <br>  </td></tr>
     </table>
     */
    public void v4CustomersPost(Customer customer) throws ApiException {
        v4CustomersPostWithHttpInfo(customer);
    }

    /**
     * Creating A new Customer
     * When creating a new Customer the following needs to be true: 1. Customer needs name and address 
     * @param customer  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Customer Created </td><td>  * location - Location of the creatd customer <br>  </td></tr>
     </table>
     */
    public ApiResponse<Void> v4CustomersPostWithHttpInfo(Customer customer) throws ApiException {
        okhttp3.Call localVarCall = v4CustomersPostValidateBeforeCall(customer, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Creating A new Customer (asynchronously)
     * When creating a new Customer the following needs to be true: 1. Customer needs name and address 
     * @param customer  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Customer Created </td><td>  * location - Location of the creatd customer <br>  </td></tr>
     </table>
     */
    public okhttp3.Call v4CustomersPostAsync(Customer customer, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = v4CustomersPostValidateBeforeCall(customer, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
